$cart-width: 200px;

.catalog {

  display: grid;
  grid-auto-flow: row;
  gap: 48px;
  grid-template-columns: $cart-width;
  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $cart-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

@media (min-width: 488px) {
  .catalog {
    grid-template-columns: repeat(2, $cart-width);
  }
}

@media (min-width: 768px) {
  .catalog {
    grid-template-columns: repeat(3, $cart-width);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, $cart-width);
  }
}
